<h1>Listing company_category_return_policies</h1>

<table class="table">
  <tr>
    <th>Company</th>
    <th>Return category</th>
    <th>Restocking fee precentage</th>
    <th>Holiday purchase date from</th>
    <th>Holiday purchase date to</th>
    <th>Holiday return date</th>
    <th>Return duration</th>
    <th>Exchange duration</th>
    <th>Rma required</th>
    <th>Open used returnable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_category_return_policies.each do |company_category_return_policy| %>
  <tr>
    <td><%= company_category_return_policy.company.name %></td>
    <td><%= company_category_return_policy.return_category.name %></td>
    <td><%= company_category_return_policy.restocking_fee_precentage %></td>
    <td><%= company_category_return_policy.holiday_purchase_date_from %></td>
    <td><%= company_category_return_policy.holiday_purchase_date_to %></td>
    <td><%= company_category_return_policy.holiday_return_date %></td>
    <td><%= company_category_return_policy.return_duration %> <%= company_category_return_policy.return_duration_type.name %></td>
    <td><%= company_category_return_policy.exchange_duration %> <%= company_category_return_policy.exchange_duration_type.name %></td>
    <td><%= company_category_return_policy.rma_required %></td>
    <td><%= company_category_return_policy.open_used_returnable %></td>
    <td><%= link_to 'Show', company_category_return_policy %></td>
    <td><%= link_to 'Edit', edit_company_category_return_policy_path(company_category_return_policy) %></td>
    <td><%= link_to 'Destroy', company_category_return_policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company category return policy', new_company_category_return_policy_path %>
