<%= form_for(@company_item) do |f| %>
  <% if @company_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_item.errors.count, "error") %> prohibited this company_item from being saved:</h2>

      <ul>
      <% @company_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :sku %><br />
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :store_return_category_id %><br />
    <%= f.number_field :store_return_category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
