<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @company_item.company.name %>
</p>

<p>
  <b>Item:</b>
  <%= @company_item.item.name %>
</p>

<p>
  <b>Sku:</b>
  <%= @company_item.sku %>
</p>

<p>
  <b>Price:</b>
  <%= @company_item.price %>
</p>

<p>
  <b>Url:</b>
  <%= @company_item.url %>
</p>

<p>
  <b>Return category:</b>
  <%= @company_item.company_category_return_policy.return_category.name %>
</p>


<%= link_to 'Edit', edit_company_item_path(@company_item) %> |
<%= link_to 'Back', company_items_path %>
