<h2> Add an Item <h2>
  
<%= form_for([@purchase, @purchase.purchase_items.build]) do |f| %>


<div class="row">

<div class="span2">Item:</div>
<div class="span4"><%= f.select(:item_id, Item.all.collect{ |g| [g.name, g.id]},  :include_blank => true) %></div>
<div class="span2">Quantity: </div>
<div class="span4"><%= f.text_field :quantity %> </div>
<div class="span2">Serial Number:</div>
<div class="span4"><%= f.text_field :serial_number %></div>
<div class="span2">Status:</div>
<div class="span4"><%= f.select(:purchase_item_status_id, PurchaseItemStatus.all.collect{ |g| [g.name, g.id]},  :include_blank => true) %></div>
<div class="span2">Price</div>
<div class="span4"><%= f.text_field :price %></div>





</div>


<tr>
  <td><%= f.select(:item_id, Item.all.collect{ |g| [g.name, g.id]},  :include_blank => true) %></td> 
    <div style="position:relative; top:-50">Item</div>
  <td><%= f.text_field :quantity %> </td>
  <td><%= f.text_field :serial_number %> </td>
  <td><%= f.select(:purchase_item_status_id, PurchaseItemStatus.all.collect{ |g| [g.name, g.id]},  :include_blank => true) %> </td>
  <td><%= f.text_field :price %> </td>
  <td><%= f.text_field :tax %> </td>
  <td><%= f.text_field :shipping %> </td>
<td><%= f.text_field :total %> </td>

  <td><%= f.check_box :tax_deductable %> </td>
  <td><%= f.check_box :hsa_eligible %> </td>
      
</tr>



<div style="position:relative"><%= f.select(:item_id, Item.all.collect{ |g| [g.name, g.id]},  :include_blank => true) %></div> 
<div style="top:-1100; left:5; color:green; font-size:14px;">Item</div>




  <div class="field">
    <%= f.label :purchase_item_status_id %><br />
     <%= f.select(:purchase_item_status_id, PurchaseItemStatus.all.collect{ |g| [g.name, g.id]},  :include_blank => true) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
