<p id="notice"><%= notice %></p>

<div class="row">

<div class="span6">
  <b>Item:</b>
  <%= link_to @purchase_item.item.name, @purchase_item.item %>
</div>

<div class="span6">
  <b>Quantity:</b>
  <%= @purchase_item.quantity %>
</div>

<div class="span6">
  <b>Serial number:</b>
  <%= @purchase_item.serial_number %>
</div>

<div class="span6">
  <b>Store:</b>

</div>


<div class="span6">
  <b>Purchase status:</b>
</div>

<div class="span6">
  <b>Purchase Date:</b>
  <%= @purchase_item.purchase.purchase_date %>
</div>
</div>
<br>
<table class="table table-condensed table-bordered">
  <tr>
    <td>Price:</td><td><%= @purchase_item.price %></td>
  </tr>
  <tr>
    <td>Tax:</td><td><%= @purchase_item.tax %>
  </tr>
  <tr>
    <td>Shipping:</td><td><%= @purchase_item.shipping %>
  </tr>
  <tr>
    <td>Total:</td><td><%= @purchase_item.total %>
  </tr>
  </table>



<p>
  <b>Purchase item status:</b>
  <%= @purchase_item.purchase_item_status_id %>
</p>


<%= link_to 'Edit', edit_purchase_item_path(@purchase_item) %> |
<%= link_to 'Back', purchase_items_path %>
