<h1>Listing exchange_duration_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exchange_duration_types.each do |exchange_duration_type| %>
  <tr>
    <td><%= exchange_duration_type.name %></td>
    <td><%= link_to 'Show', exchange_duration_type %></td>
    <td><%= link_to 'Edit', edit_exchange_duration_type_path(exchange_duration_type) %></td>
    <td><%= link_to 'Destroy', exchange_duration_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exchange duration type', new_exchange_duration_type_path %>
