<%= semantic_nested_form_for(@purchase) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<div class="purchase_form_list">
<table style="border: 1px solid black; width:100%; align:top;font-size:1em;">

<tr style="border: 1px solid black;">
    <td style="width:20%;padding:5px;vertical-align:top;">
        <table border=1 style="width:100%;padding:5px;border: 1px solid black;">
          
      

          <%= f.inputs do %>
            <div class="purchase">
                <tr style="padding:5px">
                  <td style="width:5px;padding:5px"><%= f.input :purchase_date, :as => :string, :input_html => {:class => "datepickerClass", :size => 15 ,:value => 
@purchase.purchase_date ? @purchase.purchase_date.strftime("%Y/%m/%d"):""}  %></td>
                  <td style="width:5px;padding:5px"><%= f.input :payment_method %></td>
                  
                </tr><tr>
                  <td style="width:5px;padding:5px">
                    <!-- <%= f.input :seller_name,  :as => :string, :input_html => {:class =>"companySelectClass", :value => @purchase.store.company.name} %> -->
                    <li>
                    <label class=" label">Seller:</label>
                    <input class="companySelectClass" value = <%= @purchase.store.company.name %> size="5" style="width:72%">
                    </li>
          
                  <%= f.input :store_name, :as => :string, :input_html => {:class =>"storeSelectClass",:value => @purchase.store.name} %>
                 
                </td>

                  <td style="width:5px;padding:5px"><%= f.input :order_number,:input_html => { :size => 15 } %></td>
                </tr>
              </table>
            </div>  
          <% end %>
        </div>
    </td>
 
  </tr>
  <tr>
    <td>
      <%= f.fields_for :purchase_items %>
        <p><%= f.link_to_add "Add a new Item", :purchase_items %></p>
    </td>
    
    

</tr>
</table>
</div>

<br/>
  <div class="actions">
    <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
      <%= f.action :cancel, :as => :link %>
    <% end %>
  </div>
<% end %>
