<h1>Purchases</h1>
<table style="border: 1px solid black; width:100%; align:top;font-size:1em; background-color:#efe">
<% @purchases.each do |purchase| %>

<tr style="border: 1px solid black;">
    <td style="width:20%;padding:5px;vertical-align:top;">
        <div class="store" >
            <%= image_tag purchase.store.photo.url(:thumb) unless purchase.store.photo.nil? %>
             <div class="address"><%= link_to purchase.store.name, purchase.store %>
           <br/><%= purchase.store.address1 %>
            <br/><%= purchase.store.city %>, <%= purchase.store.state.state_code unless purchase.store.state.nil?  %> <%= purchase.store.zipcode %> 
            <%= purchase.store.country.name unless purchase.store.country.nil? %></div>
            <div class="phone">Phone: <%= purchase.store.phone %><%= purchase.store.store_url %></div>
        </div>
    </td>
    <td>
        <%= render purchase.purchase_items %>
    </td>
    
    <td style="width:25%; padding:5px;vertical-align:top;">
    <div class="purchase">
                Purchase Date: <%= purchase.purchase_date.strftime("%m/%d/%Y") unless purchase.purchase_date.nil? %>
                <br/>Order/Receipt # <%= purchase.order_number %>
                <br/>Rating:
                <br/><%= link_to "Edit Purchase", edit_purchase_path(purchase) %>
            </div>  
    </td>

</tr>
    
<% end %>
</table>


<%= link_to 'New Purchase', new_purchase_path %>





