
  <h1>Purchase: <%= image_tag @purchase.store.company.logo.url(:thumb) unless @purchase.store.company.logo.blank? %> <%= @purchase.name %></h1>

<div class="row">
<div class="span6">
  <b>Purchase Group:</b>
  <%= link_to @purchase.group.name, @purchase.group %>
</div>

<div class="span6">
  <b>Store:</b>
  <%= link_to @purchase.store.name, @purchase.store %>
</div>

<div class="span6">
  <b>Purchase date:</b>
  <%= @purchase.purchase_date %>
</div>

<div class="span6">
  <b>Payment method:</b>
  <%= image_tag @purchase.payment_method.photo.url(:thumb) unless @purchase.payment_method.photo.blank? %><%= @purchase.payment_method.name %>
</div>

<div class="span6">
  <b>Visibility:</b>
  <%= @purchase.visibility.name %>
</div>

<div class="span6">
  <b>User:</b>
  <%= @purchase.user.name %>
</div>
</div>
<br>
<p>
  <%= link_to 'New Purchase item', new_purchase_item_path %>
</p>

<table class="table table-hover">
  <tr>
    <th></th>

    <th>Item</th>
    <th>Quantity</th>
    <th>Total Price</th>
  </tr>
  <% @purchase.purchase_items.each_with_index do |p, i| %>
    <tr>
      <td><%= i+1 %> </td>

      <td><%= image_tag p.item.photo.url(:thumb) unless image_tag p.item.photo.nil? %><%= link_to p.item.name, p %></td>
      <td><%= p.quantity %> </td>
      <td>$<%= p.total %> </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
