<%= form_for(@item_categorization) do |f| %>
  <% if @item_categorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_categorization.errors.count, "error") %> prohibited this item_categorization from being saved:</h2>

      <ul>
      <% @item_categorization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
