<h1>Listing item_categorizations</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_categorizations.each do |item_categorization| %>
  <tr>
    <td><%= item_categorization.item_id %></td>
    <td><%= item_categorization.category_id %></td>
    <td><%= link_to 'Show', item_categorization %></td>
    <td><%= link_to 'Edit', edit_item_categorization_path(item_categorization) %></td>
    <td><%= link_to 'Destroy', item_categorization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item categorization', new_item_categorization_path %>
