<%= form_for(@company_country) do |f| %>
  <% if @company_country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_country.errors.count, "error") %> prohibited this company_country from being saved:</h2>

      <ul>
      <% @company_country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br />
    <%= f.number_field :country_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
