
<h1>Item List</h1>

<%= search_form_for @q, url: search_items_path, method: :post do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
  <div class="field">
    Sort:
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th></th>
    <th><%= sort_link @q, :name, "Item Name" %></th>
    <th>Short description</th>
    <th>Upc</th>
    <th><%= sort_link @q, :make_id, "Make" %></th>
    <th>Model name</th>
    <th>List price</th>
    <th>Release date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.id %></td>
    <td><%= image_tag item.photo.url(:thumb) %></td>
    <td><%= link_to item.name, item %></td>
    <td><%= item.short_description %></td>
    <td><%= item.upc %></td>
    <% if item.make_id.nil? %>
        <td></td>
    <% else %>
        <td><%= item.make.name %></td>
    <% end %>
    <td><%= item.model_name %></td>
    <td><%=  number_to_currency item.list_price %></td>
    <td><%= item.release_date %></td>
    <td><%= link_to 'E', edit_item_path(item) %></td>
    <td><%= link_to 'X', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
